h1{
    color: red;
    background-color: white;
}
h2{
    color:red;
    background-color:white;
}
tr{
    color:black
}
td{
    color: #008000
}
body{
     background-color: #eacdde
        
}

body{
    background-image:url("naruto-gif-4.gif");
}
